.logo {
    display: flex;
    justify-content: center;
}

.logo img {
    width: 15%;
    padding: 10px 0;
}

.logoM {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.col-6.Nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #f3f6fa;
    text-shadow: 1px 1px 8px #f3f6fa;
    font-size: 16px;
}

.logoM img {
    width: 30%;
    padding: 10px 0;
}

.header-bottom {
    background-color: #2b489d;
    padding: 0 15px;
}