.head-top {
    background-color: white;
}

.logoA {
    display: none;
}

.logoB {
    display: none;
}

.logoBi {
    display: block;
    text-align: center;
}

.logoBi img {
    max-width: 20%;
    padding: 10px 0;
}


ul {
    display: none;
}



/*--------------
   RESPONSIVE
--------------*/

@media screen and (min-width: 576px) {
    .head-top {
        background-color: #2b4fa2;
        padding: 0 10px;
    }


    .head-top.col-6>.logoB {
        display: block;
        text-align: right;
    }

    .logoA {
        display: block;
    }

    .logoB {
        display: block;
        text-align: right;
    }

    .logoBi {
        display: none;
    }

    .logoA img,
    .logoB img {
        max-width: 50%;
        padding: 10px;
        align-items: center;
    }

    .Main-nav {
        display: flex;
        list-style: none;
        gap: 30px;
        font-size: 22px;
        font-weight: 700;
        padding: 20px 30px;

    }

    .NavIcon {
        display: none;
    }

    ul li a {
        text-decoration: none;
        color: #ffffed;
    }

    .head-bottom {
        background-color: #2b489d;
    }

}